.appbar-wrapper {
    padding: 0 20px;
    height: 60px;
    width: 100%;
    background: #15407F;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: stretch;
}

.appbar-wrapper a {
    color: white;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    text-decoration: none;
    vertical-align: center;
}

.appbar-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.appbar-right {
    text-align: right;
    align-self: center;
}

.appbar-left a + a {
    border-left: 1px solid #fff;
}

.appbar-left a, .appbar-right a{
    display:inline-block;
    width: 100%;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);

}

.appbar-left a:hover, .appbar-right a:hover{
    color: #F39A24;
}

.appbar-active {
    color: #F39A24 !important;
}

@media screen and (max-width: 1000px) {
    .appbar-wrapper {
        display: flex;
        height: auto;
        flex-direction: column;        
    }

    .appbar-left {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .appbar-left, .appbar-right {
        text-align: center;
        align-content: center;
    }

    .appbar-right{
        width: 100%;
        margin-left: 0;
        max-width: 100%;
    }

    .appbar-left a, .appbar-right a {
        height: 50px;
        margin: 5px 0;
    }

    .appbar-left a + a {
        border: none;
    }

    .uselessDiv {
        display: none;
    }
}