.chatmessage-wrapper {
    display: flex;
    flex-direction: column;
}

.chatmessage-info {
    width: calc(100% - 10px);
    min-height: 60px;
    margin: 5px;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.chatmessage-info:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
}

.chatmessage-msg {
    margin-left: 10px;
    display: grid;
    grid-template-areas: "to time" "msg msg";
}

#recipient {
    text-align: left;
    grid-area: "to";
    font-weight: 600;
}

#time {
    grid-area: "time";
    text-align: right;
    font-style: italic;
}

#message {
    grid-area: "msg";
}

.avatar {
    width: 50px;
    height: 50px;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60px;
    grid-gap: 20px;
}

.btn-group button {
    background: transparent;
    border: 1px solid #F39A24;
    color: #F39A24;
    font-size: 1.2em;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-group button:hover {
    background: #F39A24;
    color: red;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1000px) {

    .chatmessage-wrapper{
        margin-top: 20px;
        margin-bottom: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-group {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .btn-group button {
        height: 60px;
    }
}