.chat-wrapper {
    width: 60%;
    height: calc(100vh - 60px);
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 120px;
}

.chatmessage-wrapper{
    margin: 20px 0;
}

.chat-msg-section {
    display: flex;
    flex-direction: column;
}

.btn-group button:hover {
    background: #F39A24;
    border: none;
    color: white;
    color: red;
    transition: all .2s ease-in-out;
    
}

@media screen and (max-width: 1000px) {
    .chat-wrapper{
        width: 100%;    
    }
    
    .chatmessage-wrapper{
        margin-top: 20px;
        margin-bottom: 100px;

        margin-left: auto;
        margin-right: auto;
    }

    .btn-group {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .btn-group button {
        height: 40px;
        height: 60px;
    }
}