.doctors-wrapper {
    width: 60%;
    height: calc(100vh - 60px);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.doctors-wrapper section {
    padding: 20px; 
}

.doctors-heading {
    display: flex;
    justify-content: space-between;
    color: #15407F;
}

.doctors-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.doctors-info p {
    height: 20px;
    margin: 10px;
}

.doctors-info p:nth-child(1) {
    color: #15407F;
    font-weight: bold;
}

.doctors-info p:nth-child(2) {
    font-style: italic;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    .doctors-wrapper {
        width: 100%;
    }
}