.home-wrapper {
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 100px;
    background-image: linear-gradient(to bottom, white, #15407F 100%);
}

.home-wrapper img {
    width: 100%;
    height: 100%;
}

.home-wrapper section {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home-wrapper h1{
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3rem;
    display: block;
    background-color: #15407F;
    border-radius: 25px;
    color: white;
} 

.home-wrapper h2{
    padding: 10px;
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #F39A24;

} 

.home-wrapper p{
    color: white;
}