.profile-wrapper { 
    padding: 20px;
    width: 60%;
    margin: auto;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.profile-section-header {
    display: flex;
    justify-content: space-between;
}

.profile-wrapper section h2 {
    color: #15407F;
}

.profile-user-info, .profile-health-info {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-user-info p, .profile-health-info p {
    height: 20px;
}

.profile-user-info p:nth-child(1), .profile-health-info p:nth-child(1), .profile-health-receipt > p, .profile-health-examinations > p {
    color: #15407F;
    font-weight: bold;
    text-align: left;
}

.profile-user-info p:nth-child(2), .profile-health-info p:nth-child(2) {
    font-style: italic;
    text-align: right;
}

.profile-health-receipt, .profile-health-examinations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}

.receipts, .examinations {
    font-style: italic;
    text-align: right;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .profile-wrapper { 
        width: 100%;
        margin: auto;
    }
}