.reservation-wrapper {
    margin-top: 20px !important;
    width: 60%;
    height: calc(100vh - 60px);
    margin: auto;
    display: grid;
    grid-template-rows: 300px 1fr;
}

.reservation-time {
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
    color: white;
    border-radius: 25px;
}

.reservation-time h2 {
    align-self: center;
    text-align: center;
    font-size: 2rem;
}

.reservation-clock {
    align-self: center;
    text-align: center;
    font-size: 4rem;
}

.reservation-clock + div {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.reservation-table {
    height: 100%;
    padding-top: 20px;
    display: grid;
    flex-flow: column nowrap;
    align-content: center;
    overflow-x: scroll;
}
.reservation-day p{
    margin-left: 10px;
    width: 100%;
    color: #15407F;
    font-size: 40px;
    font-weight: bold;
}

.reservation-day {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 25px;
}

.reservation-day:nth-child(n) {
    background-image: linear-gradient(to bottom, rgb(255, 167, 52), #F39A24);
}

.reservation-day:nth-child(n) p{
    color: white;
}

.reservation-day:nth-child(2n) p{
    color: #15407F !important; 
}


.reservation-day:nth-child(2n) {
    background: white;
    color: #15407F;
}

.reservation-day-time {
    background: #15407F;
    height: 90%;
    color: white;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: default;
}

.reservation-day-time:hover {
    color: #F39A24;
}

.reservation-day:focus {
    background: #F39A24;
    color: white;
}

.reserved {
    background: red;
}

@media screen and (max-width: 1000px) {
    .reservation-wrapper{
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .reservation-time{
        grid-template-rows: 1fr 2fr 1fr;
    }

    .reservation-time h2 {
        align-self: center;
        text-align: center;
        font-size: 32px;
    
    }
    
    .reservation-clock {
        align-self: center;
        text-align: center;
        font-size: 64px;
    }
    
    .reservation-clock + div {
        text-align: center;
        font-size: 32px;
        font-style: italic;
    }

}